<div>
    <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <h3>Symbol Settings</h3>
        </div>

        <div class="modal-body">
            <uib-tabset>
                <uib-tab heading="General">
                    <br />
                    <div class="form-group" ng-class="{error: _form.name.$error && _form.submitted}">
                        <label class="control-label col-lg-3 col-md-3">Name</label>
                        <div class="col-lg-9 col-md-9">
                            <input name="name" type="text" ng-model="form.name" class="form-control" />
                        </div>
                    </div>
                    <div ng-if="form.action_type !== 'navigate'" class="form-group" ng-class="{error: _form.item.$error && _form.submitted}">
                        <label class="control-label col-lg-3 col-md-3">openHAB Item</label>
                        <div class="col-lg-9 col-md-9">
                            <item-picker ng-model="form.item"></item-picker>
                        </div>
                    </div>
                </uib-tab>
                
                <uib-tab heading="Rules">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                Rules consist of an unlimited number of conditions and a style. If all conditions match,
                                the configured style is applied to the widget.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 col-md-12">
                            <button type="button" class="btn pull-right" ng-click="addRule()"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Rule</button>
                        </div>
                    </div>
                    <uib-accordion>
                        <div uib-accordion-group is-open="accordions[$index]" class="panel default" ng-repeat="rule in form.rules">
                            <uib-accordion-heading>
                                <div class="row">
                                    <div class="col-xs-8">
                                            Rule {{$index+1}}
                                    </div>
                                    <div class="col-xs-4">
                                        <button type="button" class="btn pull-right" title="Delete rule" ng-click="removeRule($index)"><i class="glyphicon glyphicon-trash"></i></button>
                                        <button type="button" class="btn pull-right" title="Move rule up" ng-disabled="$index==0" ng-click="moveRuleUp($index)"><i class="glyphicon glyphicon-arrow-up"></i></button>
                                        <button type="button" class="btn pull-right" title="Move rule down" ng-disabled="$index==form.rules.length-1" ng-click="moveRuleDown($index)"><i class="glyphicon glyphicon-arrow-down"></i></button>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="form-group row">
                                <label class="control-label col-xs-3">Conditions</label>
                                <div class="col-xs-9">
                                    <div ng-repeat="condition in rule.conditions">
                                        <div class="row row-small-padding">
                                            <div class="col-xs-4">
                                                <select ng-options="operand.code as operand.name for operand in operands" ng-model="condition.operand" class="form-control">
                                                </select>
                                            </div>
                                            <div class="col-xs-3">
                                                <select ng-options="operator.code as operator.name for operator in operators" ng-model="condition.operator" class="form-control">
                                                </select>
                                            </div>
                                            <div class="col-xs-3">
                                                <input name="conditionValue" type="text" ng-model="condition.value" class="form-control" />
                                            </div>
                                            <div class="col-xs-1">
                                                <button type="button" class="btn" ng-click="removeCondition($parent.$index, $index)"><i class="glyphicon glyphicon-trash"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-small-padding">
                                        <div class="col-xs-10">
                                        </div>
                                        <div class="col-xs-1">
                                            <button type="button" class="btn" ng-click="addCondition($index)"><i class="glyphicon glyphicon-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-class="{error: _form.icon.$error && _form.submitted}">
                                <label class="control-label col-xs-3">Icon</label>
                                <div class="col-xs-9">
                                    <icon-picker iconset="rule.style.iconSet" icon="rule.style.icon"></icon-picker>
                                    <div class="col-xs-6 input-group" ng-if="rule.style.icon">
                                        <div class="input-group-addon">Size</div>
                                        <input name="iconsize" ng-model="rule.style.iconSize" class="form-control" />
                                        <div class="input-group-addon">px</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-class="{error: _form.action_type.$error && _form.submitted}">
                                <label class="control-label col-xs-3">Icon Rotation</label>
                                <div class="col-xs-9">
                                    <select ng-options="rotation.code as rotation.name for rotation in rotations" ng-model="rule.style.iconRotation" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{error: _form.action_type.$error && _form.submitted}">
                                <label class="control-label col-xs-3">Icon Animation</label>
                                <div class="col-xs-9">
                                    <select ng-options="animation.code as animation.name for animation in animations" ng-model="rule.style.iconAnimation" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" ng-class="{error: _form.icon.$error && _form.submitted}">
                                <div class="col-xs-3">
                                    <label class="control-label">Background Color</label>
                                </div>
                                <div class="col-xs-4">
                                    <input name="name" type="text" ng-model="rule.style.background" class="form-control" />
                                </div>
                                <div class="col-xs-5">
                                    <div dab-model="rule.style.background" web-colorpicker dab-width="20" dab-height="20" dab-radius="50" dab-vertical="4" dab-rotate="0" show-grayscale="true">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-class="{error: _form.action_type.$error && _form.submitted}">
                                <label class="control-label col-xs-3">Background Animation</label>
                                <div class="col-xs-9">
                                    <select ng-options="animation.code as animation.name for animation in animations" ng-model="rule.style.backgroundAnimation" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>

                </uib-tab>

            </uib-tabset>
        </div>

        <div class="modal-footer">
            <a ng-click="remove()" class="btn btn-danger pull-left" tabindex="-1"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete</a>
            <a ng-click="dismiss()" class="btn btn-default" tabindex="-1"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</a>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Save</button>
        </div>
    </form>
</div>
