<section class="screensaver-settings">
    <div class="header">
        <a class="btn pull-left" title="Menu" snap-toggle="left">
            <i class="glyphicon glyphicon-menu-hamburger"></i>
        </a>
        <h2 translate-keep-content translate="screensaver.settings.header">Dashboard screensaver/Screensaver</h2>
    </div>

    <div uib-alert ng-if="updatedMessage" type="info" close="updatedMessage = null">{{updatedMessage}}</div>
    <div uib-alert ng-if="updateErrorMessage" type="danger" close="updateErrorMessage = null">{{updateErrorMessage}}</div>

    <div class="alert alert-warning" ng-if="!(dashboards && dashboards.length > 0)">
        <span translate-keep-content translate="screensaver.settings.error.missingdashboard">You need at least 1 dashboard to enable screensaver.</span>
    </div>

    <form name="_form.mainForm" ng-if="dashboards && dashboards.length > 0">
        <div class="scrollable box modal-body">
            <uib-tabset>
                <uib-tab heading="General">
                    <ul class="settings-outer">
                        <li>
                            <label for="ss_idleTimeout" translate-keep-content translate="screensaver.settings.idletimeout.label">Idle Timeout: </label>
                            <div>
                                <input id="ss_idleTimeout" class="d-block" type="number" name="idleTimeout" ng-model="config.idleTimeoutSec" required>
                                <span>
                                    <em translate-keep-content translate="screensaver.settings.idletimeout.info">Seconds of being idle until screensaver kicks in</em>
                                </span>
                            </div>
                        </li>
                        <li>
                            <label translate-keep-content translate="screensaver.settings.eventstowatch.label">Events to Watch: </label>
                            <div>
                                <span>
                                    <em translate-keep-content translate="screensaver.settings.eventstowatch.info">Events to watch to determine idleness.</em>
                                </span>
                                <label ng-repeat="(key, val) in config.eventsToWatch" for="eventsToWatch_{{key}}" class="d-block f-normal">
                                    <input id="eventsToWatch_{{key}}" type="checkbox" name="{{key}}" ng-model="config.eventsToWatch[key]"> {{key}}
                                </label>
                            </div>
                        </li>

                        <li>
                            <label translate-keep-content translate="screensaver.settings.additionalevents.label" for="ss_additionalEvents">Additional Events (optional): </label>
                            <div>
                                <input id="ss_additionalEvents" class="d-block" type="text" name="additionalEvents" ng-model="config.additionalEventsToWatch">
                                <span>
                                    <em translate-keep-content translate="screensaver.settings.additionalevents.info">Additional events to watch to determine idleness, separated by a comma (,).
                                        <br>
                                        <span translate-keep-content translate="screensaver.settings.additionalevents.example">Example: keypress,keyup</span>
                                    </em>
                                </span>
                            </div>
                        </li>
                    </ul>
                </uib-tab>
                <uib-tab heading="On Start">
                    <ul class="settings-outer">
                        <li>
                            <label translate-keep-content translate="screensaver.settings.common.perform" for="ss_onStarType">Perform: </label>
                            <div>
                                <select id="ss_onStarType" class="d-block" name='onStarType' ng-model="config.onStart.type">
                                    <option translate-keep-content translate="screensaver.settings.common.gotodashboard" value='gotodashboard'>Go to dashboard</option>
                                    <option translate-keep-content translate="screensaver.settings.onstarttype.options.slideshow" value='slideshow'>Dashboard Slideshow</option>
                                </select>
                                <span class='helpinfo' ng-click='onStartTypeHelp = !onStartTypeHelp'>
                                    <em>
                                        <span translate-keep-content translate="screensaver.settings.onstarttype.info">What to do when screensaver starts</span>
                                        <span class='text-info glyphicon glyphicon-question-sign'></span>
                                    </em>
                                    <ul ng-if="onStartTypeHelp">
                                        <li translate-keep-content translate="screensaver.settings.onstarttype.help.line1">Dashboard Slideshow - rotates between dashboards.</li>
                                        <li translate-keep-content translate="screensaver.settings.onstarttype.help.line2">Go to dashboard - activates the selected dashboard.</li>
                                    </ul>
                                </span>
                            </div>
                        </li>
                        <section ng-if="config.onStart.type==='slideshow'">
                            <li>
                                <label translate-keep-content translate="screensaver.settings.slideshow.dashboardtimeout.label" for="ss_dashboardTimeout">Slideshow Interval: </label>
                                <div>
                                    <input class="d-block" type="number" name="dashboardTimeout" id="ss_dashboardTimeout" ng-model="config.slideshowIntervalSec"
                                        required>
                                    <span>
                                        <em translate-keep-content translate="screensaver.settings.slideshow.dashboardtimeout.info">Duration to switch to the next dashboard</em>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <em translate-keep-content translate="screensaver.settings.slideshow.dashboards.label">Dashboards to rotate:</em>
                                </label>
                                <div ui-sortable ng-model="config.onStart.dashboards">
                                    <label class="sortable" ng-repeat="db in config.onStart.dashboards | orderBy: db.order" for="onStart_{{db.id}}" class="d-block f-normal">
                                        <div id="onStart_{{db.id}}" type="checkbox" name="{{db.id}}" ng-model="db.enabled">
                                            <span>{{db.id}} </span>
                                            <span class="glyphicon glyphicon-move pull-right" title="Reorder"></span>
                                        </div>
                                    </label>
                                </div>
                            </li>
                        </section>
                        <section ng-if="config.onStart.type!=='slideshow'">
                            <li>
                                <label>
                                    <em translate-keep-content translate="screensaver.settings.common.dashboard">Dashboard:</em>
                                </label>
                                <select class="d-block" name='dashboard' ng-model="config.onStart.dashboard" ng-init="config.onStart.dashboard = config.onStart.dashboard ? config.onStart.dashboard : dashboards[0].id">
                                    <option ng-repeat="db in dashboards | orderBy: db.id" value="{{db.id}}">{{db.id}}</option>
                                </select>
                            </li>
                        </section>
                    </ul>
                </uib-tab>
                <uib-tab heading="On Stop">
                    <ul class="settings-outer">
                        <li>
                            <label translate-keep-content translate="screensaver.settings.common.perform" for="ss_onStopType">Perform: </label>
                            <div>
                                <select id="ss_onStopType" class="d-block" name='onStopType' ng-model="config.onStop.type">
                                    <option translate-keep-content translate="screensaver.settings.common.stop" value='stop'>Stop</option>
                                    <option translate-keep-content translate="screensaver.settings.common.gotodashboard" value='gotodashboard'>Go to dashboard</option>
                                </select>
                                <span class='helpinfo' ng-click='onStopTypeHelp = !onStopTypeHelp'>
                                    <em>
                                        <span translate-keep-content translate="screensaver.settings.onstop.info">What to do when screensaver starts</span>
                                        <span class='text-info glyphicon glyphicon-question-sign'></span>
                                    </em>
                                    <ul ng-if="onStopTypeHelp">
                                        <li translate-keep-content translate="screensaver.settings.onstoptype.help.line1">Stop - simply stops screensaver wherever it may be.</li>
                                        <li translate-keep-content translate="screensaver.settings.onstoptype.help.line2">Go to dashboard - activates the selected dashboard.</li>
                                    </ul>
                                </span>
                            </div>
                        </li>
                        <section ng-if="config.onStop.type!=='stop'">
                            <li>
                                <label>
                                    <em translate-keep-content translate="screensaver.settings.common.dashboard">Dashboard:</em>
                                </label>
                                <select class="d-block" name='dashboard' ng-model="config.onStop.dashboard" ng-init="config.onStop.dashboard = config.onStop.dashboard ? config.onStop.dashboard : dashboards[0].id">
                                    <option ng-repeat="db in dashboards | orderBy: db.id" value="{{db.id}}">{{db.id}}</option>
                                </select>
                            </li>
                        </section>
                    </ul>
                </uib-tab>
            </uib-tabset>

            <div class="cancelsave pull-right">
                <button class="btn btn-lg btn-danger" ng-click="cancel()">
                    <span ng-if="_form.mainForm.$pristine" translate-keep-content translate="screensaver.settings.button.back">Back</span>
                    <span ng-if="_form.mainForm.$dirty" translate-keep-content translate="screensaver.settings.button.cancel">Cancel</span>
                </button>
                <button class="btn btn-lg btn-success" ng-click="save()" ng-disabled="_form.mainForm.$invalid " translate-keep-content translate="screensaver.settings.button.save">Save</button>
            </div>
        </div>
    </form>
</section>